@page "/paises"
<h2>Paises</h2>
<br />
<a class="btn btn-success" href="paises/crear">Nuevo</a>
<br />
<table>
    <tr>
        <th>Código</th>
        <th>Nombre</th>
    </tr>
    @if (paises == null)
    {
        <tr>Cargando.....</tr>
    }
    else if (paises.Count == 0)
    {
        <tr>No existen paises</tr>
    }
    else
    {
        @foreach (var item in paises)
        {
            <tr>
                <td>@item.CodPais</td>
                <td>@item.NombrePais</td>
                <td><a class="btn btn-success" 
                       href="paises/editar/@item.Id/@item.CodPais/@item.NombrePais">Editar</a></td>
                <td><button class="btn btn-warning" @onclick="()=>Eliminar(item)">Eliminar</button></td>
            </tr>
        }
    }
</table>

@*@if (nuevo)
{
    @if (editar || eliminar)
    {
        Cancelar();
        nuevo = true;
    }
    <br />
    <h3>Nuevo País</h3>
    <br />
    <input placeholder="Código de País" @bind="codPais" />
    <input placeholder="Nombre de País" @bind="nomPais" />
    <button class="btn btn-success" @onclick="GrabarNuevo">Grabar</button>
    <button class="btn btn-info" @onclick="Cancelar">Cancelar</button>
}*@

@if (editar)
{
    <br />
    <h3>Editar País</h3>
    <br />
    <input placeholder="Código de País" @bind="codPais" />
    <input placeholder="Nombre de País" @bind="nomPais" />
    <button class="btn btn-success" @onclick="GrabarEditar">Grabar</button>
    <button class="btn btn-info" @onclick="Cancelar">Cancelar</button>
}

@if (eliminar)
{
    <br />
    <h3>Eliminar País</h3>
    <br />
    <input placeholder="Código de País" @bind="codPais" />
    <input placeholder="Nombre de País" @bind="nomPais" />
    <button class="btn btn-success" @onclick="GrabarEliminar">Eliminar</button>
    <button class="btn btn-info" @onclick="Cancelar">Cancelar</button>
}


@code {
    //List<Pais> paises = new List<Pais>();
    List<Locacion.Comunes.Data.Entidades.Pais> paises;
    string codPais = "";
    string nomPais = "";
    bool nuevo = false;
    bool editar = false;
    bool eliminar = false;
    Locacion.Comunes.Data.Entidades.Pais editarPais;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        paises = new()
        {
            new Locacion.Comunes.Data.Entidades.Pais()
            { CodPais = "ar", NombrePais = "Argentina" },
            new Locacion.Comunes.Data.Entidades.Pais()
            { CodPais = "es", NombrePais = "España" }
        };
    }

    private void Editar(Locacion.Comunes.Data.Entidades.Pais paisEditar)
    {
        if (nuevo || eliminar)
        {
            Cancelar();
            editar = true;
        }
        editar = true;
        codPais = paisEditar.CodPais;
        nomPais = paisEditar.NombrePais;
        editarPais = paisEditar;
    }

    private void GrabarEditar()
    {
        paises.Remove(editarPais);
        paises.Add(new Locacion.Comunes.Data.Entidades.Pais() { CodPais = codPais, NombrePais = nomPais });
        Cancelar();
    }

    private void Eliminar(Locacion.Comunes.Data.Entidades.Pais paisEliminar)
    {
        if (nuevo || editar)
        {
            Cancelar();
            eliminar = true;
        }
        eliminar = true;
        codPais = paisEliminar.CodPais;
        nomPais = paisEliminar.NombrePais;
        editarPais = paisEliminar;
    }


    private void GrabarEliminar()
    {
        paises.Remove(editarPais);
        Cancelar();
    }

    private void Cancelar()
    {
        editarPais = null;
        nuevo = false;
        editar = false;
        eliminar = false;
        codPais = "";
        nomPais = "";
    }

}
